body {
  background-color: #45B29D;
  color: #FFFFFF;
  text-align: center;
}

.navbar {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1.5em;
}

.navbar-nav {
	float: right;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
}

.label {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.list {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: normal;
}

.overlay-home {

  color: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  text-align: center;
}

.overlay {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #45B29D;
  margin-top: 3em;
}

.btn:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #45B29D;
  font-weight: bold;
}

.btn-second {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #FFFFFF;
}

.btn-second:hover {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #333;
  font-weight: bold;
}

.ctas {
  text-align: center;
  width: 100%;
}

a {
  color: #45B29D;
}

a:hover {
  color: #45B29D;
}

.header {
  margin-bottom: 2%;
}

#footer {
	padding: 1%;
	font-size: 1em;
	text-align: right;
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

blockquote {
  margin-top: 3%;
  background-color: #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  border-left: none;
  padding: 1%;
}

blockquote p {
  font-size: 1.1em;
  line-height: 2em;
}

img {
	padding: 2em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}